html,
body,
ul,
li,
p,
figure,
nav,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
#colors-groups {
  /* Qualitative color palette 
   * courtesy of http://colorbrewer2.com
   */
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-color: #000000;
}
table {
  width: 200px;
  padding: 10px 10px 10px 0;
  float: left;
}
table tr {
  background-color: #eeeeee;
}
table tr[data-group-id="1"] {
  background-color: #a6cee3;
}
table tr[data-group-id="2"] {
  background-color: #1f78b4;
}
table tr[data-group-id="3"] {
  background-color: #b2df8a;
}
table tr[data-group-id="4"] {
  background-color: #33a02c;
}
table tr[data-group-id="5"] {
  background-color: #fb9a99;
}
table tr[data-group-id="6"] {
  background-color: #e31a1c;
}
table tr[data-group-id="7"] {
  background-color: #fdbf6f;
}
table tr[data-group-id="8"] {
  background-color: #ff7f00;
}
table tr[data-group-id="9"] {
  background-color: #cab2d6;
}
table tr[data-group-id="10"] {
  background-color: #6a3d9a;
}
table tr[data-group-id="11"] {
  background-color: #ffff99;
}
table td {
  padding: 6px 10px 4px 10px;
}
.page {
  padding: 10px;
}
