/**
 * Main CSS aggregator
 *
 */
html,
body,
ul,
li,
p,
figure,
nav,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/**
 * Mixins aggregator
 *
 */
/**
 * Color variables
 *
 */
#colors-groups {
  /* Qualitative color palette 
   * courtesy of http://colorbrewer2.com
   */
}
/**
 * Font variables
 *
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-color: #000000;
  line-height: 1.3em;
}
header {
  padding: 20px 0 20px 0;
}
.page-description {
  padding: 0 0 20px 0;
}
textarea[data-id="textarea"] {
  width: 732px;
  height: 100px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}
table {
  width: 200px;
  padding: 0;
  float: left;
}
table tr {
  background-color: #eeeeee;
  font-size: 12px;
}
table tr[data-group-id="1"] {
  background-color: #a6cee3;
}
table tr[data-group-id="2"] {
  background-color: #1f78b4;
}
table tr[data-group-id="3"] {
  background-color: #b2df8a;
}
table tr[data-group-id="4"] {
  background-color: #33a02c;
}
table tr[data-group-id="5"] {
  background-color: #fb9a99;
}
table tr[data-group-id="6"] {
  background-color: #e31a1c;
}
table tr[data-group-id="7"] {
  background-color: #fdbf6f;
}
table tr[data-group-id="8"] {
  background-color: #ff7f00;
}
table tr[data-group-id="9"] {
  background-color: #cab2d6;
}
table tr[data-group-id="10"] {
  background-color: #6a3d9a;
}
table tr[data-group-id="11"] {
  background-color: #ffff99;
}
table td {
  padding: 4px 10px 2px 10px;
}
table thead tr {
  background-color: transparent;
}
table th {
  background-color: transparent;
  text-align: left;
}
table[data-id="first-letters"] {
  width: 140px;
}
table[data-id="first-letters"] .character {
  text-transform: uppercase;
}
.page {
  padding: 10px;
}
section:before,
section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}
.tab-buttons {
  margin: 0 0 10px 0;
  display: table;
  border-collapse: collapse;
}
.tab-button {
  display: table-cell;
  border-top: solid 1px #000000;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  padding: 8px 10px 6px 10px;
  cursor: pointer;
}
.tab-button:hover {
  background-color: #eeeeee;
}
.tab-content {
  height: 0;
  overflow: hidden;
}
.tab-content.init-selected {
  height: auto;
}
