/**
 * Main CSS aggregator
 *
 */

@import '_reset';
@import '_mixins';
@import '_colors';
@import '_fonts';

body {
  font-family: @font-sans;
  font-size: 14px;
  font-color: @black;
}
table {
  width: 200px;
  padding: 10px 10px 10px 0;
  float: left;
  tr {
    background-color: @grey-lightest;
    #colors-groups > .bg();
  }
  td {
    padding: 6px 10px 4px 10px;
  }
  thead tr {
    background-color: transparent;
  }
  th {
    background-color: transparent;
    text-align: left;
  }
}
.page {
  padding: 10px;
}
section {
  .clearfix();
}
